<manifest
		xmlns:android="http://schemas.android.com/apk/res/android"
		xmlns:tools="http://schemas.android.com/tools"
		package="uk.co.markormesher.quicktimer"
>

	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission-sdk-23 android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

	<application
			android:allowBackup="true"
			android:label="@string/app_name"
			android:icon="@mipmap/ic_launcher"
			android:supportsRtl="true"
			android:theme="@style/AppTheme"
			android:fullBackupContent="true"
			tools:ignore="GoogleAppIndexingWarning">

		<activity
				android:name="uk.co.markormesher.quicktimer.MainActivity"
				android:launchMode="singleInstance"
				android:screenOrientation="portrait"
		>

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>

		</activity>

		<activity
				android:name=".SettingsActivity"
				android:screenOrientation="portrait"
		/>

		<service
				android:name=".TimerService"
		/>

	</application>

</manifest>
